<!-- FriendLinks -->
  <section>
    <header class="major">
      <h2>Friends</h2>
    </header>
    <p><%= theme.description %></p>
      <ul class="actions">
          <% for (var linkname in theme.links) {%>
            <li><a href="<%= theme.links[linkname]%>"><div class="links"><%= linkname %></div></a></li>
          <% } %>
      </ul>
  </section>