<!-- Menu -->
  <nav id="menu">
    <header class="major">
      <h2>Menu</h2>
    </header>
    <ul>
    <% for (var block in theme.menu) { %>
        <% switch (block) {
            case 'home': %><li><a href=<%= theme.menu[block]%>><%= block %></a></li><% break
            case 'categories': %>
                <li><span class="opener"><%= block %></span>
                    <ul><%- list_categories( {show_count: theme.showCategoryCount, style: 'list'}) %></ul>
                </li><% break
            case 'tags': %>
                <li><a href=<%= theme.menu[block]%>><%= block %></a></li><% break
            case 'archives': %>
                <li><span class="opener"><%= block %></span>
                    <ul><%- list_archives( {show_count: theme.showArchiveCount, style: 'list'}) %></ul>
                </li><% break
            case 'about': %><li><a href=<%= theme.menu[block]%>><%= block %></a></li><% break
        } %>
    <% } %>
    </ul>
  </nav>