<!-- Projects -->
<section xmlns="http://www.w3.org/1999/html">
    <header class="major">
      <h2>Projects</h2>
    </header>
    <div class="mini-posts">
      <% theme.projects.forEach((item) => { %>
        <article>
          <a href="<%- item.projurl %>" class="image"><img src="<%- item.picurl %>" alt="" /></a>
          <h3><%- item.title %></h3>
          <p><%- item.description %></p>
        </article>
      <% }) %>
    </div>
  </section>