<!-- Search -->
  <section id="search" class="alt">
    <form>
      <input type="text" name="query" id="local-search-input" placeholder="Search" results="0"/>
    </form>
      <div id="local-search-result">
    </div>
  </section>