<!-- menu router -->
  <section>
    <% if(is_category()){ %>
      <h2>categories</h2>
      <br />
      <h1><%= page.category %></h1>
      <ul>
          <% page.posts.each(function (post) { %>
          <li>
              <span><%= date(post.date, "YYYY-MM-DD") %></span>
              <a href="<%- url_for(post.path) %>"><%= post.title %></a>
          </li>
          <% }) %>
      </ul>
    <% } %>

    <% if(is_archive()){ %>
      <h2>archives</h2>
      <br />
      <h1><%- page.year.toString() + "." + page.month.toString()%></h1>
      <ul>
        <% page.posts.each(function (post) { %>
          <li>
            <span><%= date(post.date, "YYYY-MM-DD") %></span>
            <a href="<%- url_for(post.path) %>"><%= post.title %></a>
          </li>
        <% }) %>
      </ul>
      <% } %>

      <% if(is_tag()){ %>
      <h2>tags</h2>
      <br />
      <h1># <%= page.tag %></h1>
      <ul>
          <% page.posts.each(function (post) { %>
          <li>
              <span><%= date(post.date, "YYYY-MM-DD") %></span>
              <a href="<%- url_for(post.path) %>"><%= post.title %></a>
          </li>
          <% }) %>
      </ul>
      <% } %>
  </section>
