<!-- Categories -->
  <section>
    <header class="main">
    <h1><%= page.title %></h1>
    </header>
      <h2><%- list_categories( {
      show_count: false,
      class: 'article-category',
      style: 'list',
      separator: ''
    }) %></h2>
  </section>




  