<!-- Posts -->

  <section>
    <% page.posts.each(function (post) { %>
      <header>
        <h2><a href="<%- url_for(post.path) %>"><%= post.title %></a></h2>
      </header>
      <%- post.excerpt %>

      <span><%- date(post.date, "YYYY-MM-DD") %></span>&nbsp;&nbsp;&nbsp;&nbsp;
      <% if ( post.categories.data.length == 0) { %>
        <span><b>uncategorized</b></span>
      <% } else { %>
        <span><b>Cat. </b><%- post.categories.data[0].name %></span>
      <% } %>&nbsp;&nbsp;&nbsp;&nbsp;
      <% if ( post.tags.data.length == 0) { %>
      <span><b>untagged</b></span>
      <% } else { %>
          <span>
              <b>Tag. </b>
              <% for (var i = 0; i < post.tags.data.length; i ++) { %>
                <%- post.tags.data[i].name %>
              <% } %>
          </span>
      <% } %>


      <% /*console.log(post.categories.data.length) */%>
      
      <hr class="major" />
    <% }) %>
  </section>