<!DOCTYPE HTML>
<!--
  Editorial by html5up.net | @ajlkn
  Migrated to Hexo by raysky.net | @rayskyy
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>
      <% if (page.title != null) { %><%- page.title + ' - ' + config.title %>
      <% } else { %><%- config.title %><% } %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <% if (theme.android_chrome_color) { %><meta name="theme-color" content="<%- theme.android_chrome_color %>" /><% } %>
    <% if (theme.favicon) { %><%- favicon_tag(theme.favicon) %><% } %>
    <% if (theme.rss){ %><link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml"><% } %>
    <%- partial("_partial/styles.ejs") %>
  </head>
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <%- partial("_partial/header.ejs") %>      
          <%- body %>
        </div>
      </div>
      <%- partial("_partial/sidebar.ejs") %>
    </div>
    <%- partial("_partial/scripts.ejs") %>
  </body>
</html>