<!-- Post -->
  <section>
    <header class="main">
    <h1><%= page.title %></h1>
    </header>
      <p><span><%- date(page.date, "YYYY-MM-DD") %></span>&nbsp;&nbsp;&nbsp;
      <% if ( page.categories.data.length == 0) { %>
      <span><b>uncategorized</b></span>
      <% } else { %>
      <span>
            <b>Cat. </b>
            <a href=<%- url_for(page.categories.data[0].path) %>>
                <%- page.categories.data[0].name %>
            </a>
        </span>
      <% } %>&nbsp;&nbsp;&nbsp;
      <% if ( page.tags.data.length == 0) { %>
      <span><b>untagged</b></span>
      <% } else { %>
      <span>
          <b>Tag. </b>
          <% for (var i = 0; i < page.tags.data.length; i ++) { %>
          <a href=<%- url_for(page.tags.data[i].path) %>>
              <%- page.tags.data[i].name %>
          </a>&nbsp;
          <% } %>
      </span>
      <% } %>
      </p>

      <% if (page.photos != ''){ %>
      <span class="image main"><a href="<%- url_for(page.path) %>"><img src="<%= page.photos %>" alt="[pic]"></a></span>
      <% } %>

      <div style="color: black;"><%- page.content %></div>
  </section>