<!-- Tags -->
<section>
    <header class="main">
        <h1><%= page.title %></h1>
    </header>
    <h2><%- tagcloud(site.tags, {
        min_font: 30,
       max_font: 50
        }) %></h2>
</section>




