/*
  Editorial by html5up.net | @ajlkn
  Migrated to Hexo by raysky.net | @rayskyy
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Button */
input[type=submit],
input[type=reset],
input[type=button],
button,
.button {
  border: solid 2px #f56a6a;
}

/* Posts */
.posts article {
  width: 40%;
}

/*# sourceMappingURL=ie8.css.map */
