<!-- Header -->
  <header id="header">
    <a href=<%- url_for(page.main) %> class="logo"><strong><%- config.title %></strong>&nbsp;<%- config.subtitle %></a>
    <ul class="icons">
      <% for (var icon in theme.icons) { %>
        <li><a href="<%- theme.icons[icon]%>" class="icon fa-<%- icon %>"><span class="label"><%- icon %></span></a></li>
      <% } %>
    </ul>
  </header>