<!-- Styles -->
  <%- css('css/main.css') %>
  <!--[if lte IE 9]><%- css('css/ie9.css') %><![endif]-->
  <!--[if lte IE 8]><%- css('css/ie8.css') %><![endif]-->

  <%- css('css/default.css') %>
  <%- css('css/fonts.css') %>
  <%- css('https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css') %>

  <style>
    .hljs {
      display: block;
      overflow-x: hidden;
      padding: 1em;
      font: normal 10pt Consolas, Monaco, monospace
    }

    /*style of links*/
    .links {
      font-family: "Roboto Slab", serif;
      font-weight: 400;
      line-height: 1.0;
      margin: 0 0 1.5em 0;
      font-size: 1.1em;
      -moz-transition: color 0.2s ease-in-out;
      -webkit-transition: color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      text-decoration: none;
    }

    .links:hover {
      color: black ;
    }
  </style>
